/*
    Titulo: login.css
    Autor: @AbrahamRH
    Descripción: Hoja de estilos para la pantalla de login.
    Fecha de inicio: 21/06/20
    Versión: 2.0
    Fecha de ultima actialización: 22/06/20
*/

.form-signin {
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 330px;
    padding-top: 15px;
}

.form-signin > .titulo {
    margin: 250px auto 50px;
    color: #707070;
    font-weight: 500;
}

.btn-enviar {
    display: block;
    width: 100%;
    background-color: #007BFF;
    border-color: #007BFF;
    color:#FFF;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 1.3rem;
}

.btn-enviar:hover {
    background-color:#FFF;
    color: #007BFF;
}

form  .btn-enviar {
    margin-top: 33px;
    padding: 8px 89px;
}

.contenedor {
    margin-bottom: 250px!important;
}
