
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: center;
}

.flex-container  > a {
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: 500;
    margin: 20px;
    width: 550px;
    height: 300px;
    padding: 140px 120px;
    color: #FFF;
    background-color: #323031;
}

.flex-container  > a:hover {
    background-color: #323031d0;
}

