/*
    Titulo: styles.css
    Autor: @AbrahamRH
    Descripción: Hoja de estilos principal para las pantallas.
    Fecha de inicio: 21/06/20
    Versión: 1.5
    Fecha de ultima actialización: 22/06/20
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    background-color: #F5F5F5;
}

header {
    background-color: #323031;
    box-shadow: 2px 1px 5px #707070;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

header .logo {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    padding: 50px 0 60px 50px;
    color: #FFF;
    float: left;
}

footer {
    position: absolute;
    display: block;
    height: auto;
    width: 100%;
    background-color: #323031;
    bottom: 0;
    left: 0;
    margin-top: 250px;
    padding: 30px;
}

@media screen and (max-width: 900px) {
    header .logo {
        float: none;
        width: 100%;
        font-size: 30px;
        line-height: 40px;
        height: auto;
    }
}